:root{
    --color-de-acento: rgb(187, 255, 0);
    --color-de-fondo: #000000;
    --color-de-texto: #ffffff;
    --color-de-titulos: rgb(187, 255, 0);
}
    

body{
    background-color: var(--color-de-fondo);
    font-family: 'Inter', sans-serif;
    color: var(--color-de-texto);
    /*background-color: var(--color-de-fondo);*/
    
   
}
/*default*/


/* header */
.custom-navbar {
  background-color: #090D1F;
}

.custom-navbar .nav-link {
  color: #ffffff;
}

.title-griduwu h1,
.title-griduwu h3 {
  margin: 0;
}

/* HERO SECTION */
.hero-section {
    padding-top: 150px;
    padding-bottom: 150px;
  background-image: url("./resources/Hero-background.jpg");
}

#btn-inicio {
  background-color: #ffffff ; 
  color: black;
  border: none;
}

#btn-regis {
  background-color: #e50914 !important;
  color: white !important;
    border: none;
}

#titulo{
    color: #DCF836
}




/*grids*/
/* GRID GENERAL */
.parenta {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
  background-color: var(--color-de-fondo);
    padding-bottom: 100px;
}

/* POSICIONES */
.div1 {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
}

.div2 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
}

.div3 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
}

/* ESTILO DE CADA CARTA */
.carduwu {
  background-color: var(--color-de-fondo);    
  padding: 0;             
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 12px;
}

/* IMAGEN */
.carduwu img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 16px;
  display: block;
}

/* TÍTULO */
.carduwu h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-de-titulos);
}
.title-griduwu{
  color:var(--color-de-titulos);
  background-color:black;
  margin: 0;
}
.texto-vermas{
    font-size: 20px;
    color: #e50914;
    text-align: right;
    padding-right: 20%;
    padding-bottom: 30px;
}

/* DESCRIPCIÓN */
.carduwu p {
  margin: 0;
  font-size: 0.95rem;
  line-height: 1.4;
  color: var(--color-de-texto);
}
.titulo{
  color:var(--color-de-titulos);
}
.Titulo-principal{
    padding-left: 20%;
    padding-top: 20px;
  color:var(--color-de-titulos);
}

